.Home {
  display: grid;
  align-self: flex-start;
  /* padding-top: 0px !important;
  padding-bottom: 0px !important; */
}
.Home .spacer {
  height: 500px;
}

.Home .ImageContainer {
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
}

.Home > .ImageContainer > img {
  width: 100%;
  justify-self: stretch;
  align-self: flex-start;
  grid-row: 1/2;
  grid-column: 1/2;
}

.Home > .ImageContainer > .fade {
  width: 100%;
  justify-self: stretch;
  grid-row: 1/2;
  grid-column: 1/2;
  background: radial-gradient(circle, rgba(255,255,255,0) 70%, rgba(255,255,255,0.85) 90%, rgba(255,255,255,1) 100%);
}

/* @media only screen and (min-height: 700px) {
  .Home > .ImageContainer > img {
    width: 80%;
    justify-self: stretch;
  }
  .Home > .ImageContainer > .fade {
    width: 80%;
    justify-self: stretch;
  }
} */

.Home > .TextContainer {
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: stretch;
  justify-items: center;
}

.Home > .TextContainer > .SaveTheDate {
  color: #fff;
  text-shadow: 2px 2px $primary;
  font-size: 130px;
  grid-row: 1/3;
  grid-column: 1/3;
  display: grid;
  justify-self: stretch;
  justify-items: center;
  align-self: flex-start;
  font-family: 'Dancing Script', cursive;
  grid-template-rows: 1fr 70px 1fr;
  grid-template-columns: 1fr;
}

.Home > .TextContainer > .SaveTheDate > .start {
  position: relative;
  left: -90px;
}

.Home > .TextContainer > .SaveTheDate > .middle {
  font-size: 70px;
  position: relative;
  left: -30px;
}

.Home > .TextContainer > .SaveTheDate > .end {
  position: relative;
  left: -50px;
}

.Home > .TextContainer > .date {
  grid-row: 1/2;
  grid-column: 3/5;
  color: #fff;
  text-shadow: 2px 2px $primary;
  font-size: 70px;
  font-family: 'Dancing Script', cursive;
  justify-self: end;
  align-self: flex-start;
  position: relative;
  right: 50px;
  top: 140px;
}

.Home .Countdown {
  grid-row: 2/3;
  grid-column: 1/5;
  justify-self: center;
  align-self: flex-end;
  font-size: 120px;
  color: #fff;
  text-shadow: 2px 2px #a0a0a0;
  font-family: 'Oswald', sans-serif;
  column-gap: 32px;
  grid-template-columns: repeat(4,178px);
  grid-template-rows: 1fr 30px;
}

.Home .CountDown > .info_text {
  font-weight: lighter;
  font-size: 20px;
  align-self: flex-start;
  padding: 0px;
  margin: 0px;
}

.Home .CountDown > .info_data {
  align-self: flex-end;
}

/* .saveTheDate {
  font-size: 75px;
  line-height: 50px;
  text-align: center;
  transform: rotate(-10deg);
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .saveTheDate {
    font-size: 55px;
    line-height: 38px;
    text-align: center;
    transform: rotate(-10deg);
  }
}

.saveTheDate > div:nth-child(3) {
  font-size: 25px;
}

.saveTheDate > div:nth-child(4) {
  margin-top: 8px;
  transform: rotate(10deg);
  font-size: 20px;
  font-family: 'Share', cursive;
} */
