.Home {
  display: grid;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.Home .spacer {
  height: 500px;
}

.saveTheDate {
  font-size: 75px;
  line-height: 50px;
  text-align: center;
  transform: rotate(-10deg);
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .saveTheDate {
    font-size: 55px;
    line-height: 38px;
    text-align: center;
    transform: rotate(-10deg);
  }
}

.saveTheDate > div:nth-child(3) {
  font-size: 25px;
}

.saveTheDate > div:nth-child(4) {
  margin-top: 8px;
  transform: rotate(10deg);
  font-size: 20px;
  font-family: 'Share', cursive;
  /* font-family: 'Volkhov', serif; */
  /* font-family: 'Oswald', sans-serif; */
}
