$primary: #e2b007;
$primary-light: #e2b007;
$primary-dark: #e2b007;
$primary-text: #fff;
$primary-text-light: #fff;
$primary-text-dark: #fff;

$secondary: #e2b007;
$secondary-light: #e2b007;
$secondary-dark: #e2b007;
$secondary-text: #fff;
$secondary-text-light: #fff;
$secondary-text-dark: #fff;

$flower-text-color: #e2b007;

$white-text: #a0a0a0;
$white-text-hover: #e2b007;
$white-text-current: #e2b007;