.Home {
  display: grid;
}

.saveTheDate {
  font-size: 75px;
  line-height: 50px;
  text-align: center;
  transform: rotate(-10deg);
  font-family: 'Lobster', cursive;
}

@media only screen and (max-width: 600px) {
  .saveTheDate {
    font-size: 55px;
    line-height: 30px;
    text-align: center;
    transform: rotate(-10deg);
  }
}

.saveTheDate > div:nth-child(3) {
  font-size: 25px;
}

.saveTheDate > div:nth-child(4) {
  transform: rotate(10deg);
  font-size: 25px;
}
