.HappyCouple {
  width: 945px;
  display: grid;
  justify-items: center;
  justify-self: center;
  grid-template: 
    'header header'
    'text text'
    'bride groom'
    'brideText groomText'
  ;

}

.HappyCouple > h1 {
  grid-area: header;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.HappyCouple > p {
  text-align: center;
  font-family: 'Volkhov', serif;
  font-size: 15px;
  color: #6a6a6a;
}

.HappyCouple > p.introduction {
  grid-area: text;
}

.HappyCouple > p.groomText {
  grid-area: groomText;
  width: 400px;
}

.HappyCouple > p.brideText {
  grid-area: brideText;
  width: 400px;
}

.HappyCouple > div.groom {
  grid-area: groom;
  align-self: start;
}

.HappyCouple > div.bride {
  grid-area: bride;
  align-self: start;
}

.HappyCouple > div {
  overflow: hidden;
  display: grid;
  width: 400px;
}

.HappyCouple > div > div {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: stretch;
  margin: 8px;
  border: 1px solid #ffffff;
  z-index: 1;
  transition: border-color .5s ease, background-color .5s ease;
  display: grid;
}

.HappyCouple > div > div > h4 {
  font-family: 'Share', cursive;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  justify-self: center;
  align-self: end;
}

.HappyCouple > div > img {
  grid-column: 1/2;
  grid-row: 1/2;
  transition: transform .5s ease;
  width: 100%;
}

/* .HappyCouple > div:hover > div {
  border-color: rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,0.4);
} */

.HappyCouple > div:hover > img {
  transform: scale(1.2);
}

@media only screen and (max-width: 945px) {
  .HappyCouple {
    width: 80%;
    min-width: 300px;
    grid-template:
      'header'
      'text'
      'bride'
      'brideText'
      'groom'
      'groomText'
    ;
  }
  .HappyCouple > div {
    min-width: 300px;
    width: 100%;
  }
  .HappyCouple > p.groomText {
    grid-area: groomText;
    width: 100%;
  }
  .HappyCouple > p.brideText {
    grid-area: brideText;
    width: 100%;
  }
}