@import '../../styles/colors.scss';

.Rsvp {
  margin-bottom: 32px;
  width: 100%;
}

.Rsvp .MuiFormControl-root {
  width: 100%;
}

.Rsvp .Title {
  color: rgba(0, 0, 0, 0.87);
}

.Rsvp .Subtitle {
  font-size: 0.5em;
  color: rgba(0, 0, 0, 0.87);
}


@media only screen and (min-width: 755px) {
  .Rsvp .MuiGrid-item {
    width: 80%;
  }
}