.Story {
  display: grid;
  width: 945px;
  justify-self: center;
  grid-template-rows: max-content;
}

.Story p {
  text-align: center;
}

.StoryMain .shark {
  font-family: 'Lobster', cursive;
}

.StoryMain {
  justify-self: stretch;
  display: grid;
}

@media only screen and (max-width: 945px) {
  .Story {
    width: 80%;
    min-width: 300px;
  }
}