.App {
  display: grid;
  background-color: #ffffff;
  overflow: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(0px, 1fr) minmax(812px, 1280px) minmax(0px, 1fr);
  min-height: 100vh;
  color: #a0a0a0;
}

.App > section {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-bottom: 50px;
}

@media only screen and (min-width: 700px) {
  .App {
    grid-template-rows: 1fr 50px;
  }
  .App > section {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .App > h1 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 940px) {
  .App > h1 {
    font-size: 3em;
  }
}


