.App {
  display: grid;
  height: 100vh;
  background-color: rgba(40, 44, 52, 0.50);
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .App > h1 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 940px) {
  .App > h1 {
    font-size: 3em;
  }
}