.Home2 {
  display: grid;
  align-self: flex-start;
}

.Home2 .ImageContainer {
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.Home2 .ImageContainer img {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  width: 80%;
}

.Home2 .ImageContainer .fade {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  width: 80%;
  background: radial-gradient(circle, rgba(255,255,255,0) 70%, rgba(255,255,255,0.85) 90%, rgba(255,255,255,1) 100%);
}

.Home2 .ImageContainer .content {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: start;
  position: relative;
  left: 20%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-rows: max-content 1fr max-content;
}

.Home2 > .ImageContainer .content > .SaveTheDate {
  color: #e2b007;
  text-shadow: 2px 2px rgb(131, 131, 131);
  font-size: 80px;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  justify-self: stretch;
  justify-items: center;
  align-self: flex-start;
  font-family: 'Dancing Script', cursive;
  grid-template-rows: 1fr 40px 1fr;
  grid-template-columns: 1fr;
}

.Home2 > .ImageContainer .content > .SaveTheDate > .start {
  position: relative;
  left: -90px;
}

.Home2 > .ImageContainer .content > .SaveTheDate > .middle {
  font-size: 30px;
  position: relative;
  left: -30px;
}

.Home2 > .ImageContainer .content > .SaveTheDate > .end {
  position: relative;
  left: -50px;
}


.Home2 > .ImageContainer .content > .date {
  align-self: center;
  color: #e2b007;
  text-shadow: 2px 2px rgb(131, 131, 131);
  font-size: 50px;
}

.Home2 .ImageContainer .content .CountDown {
  align-self: center;
  grid-template-columns: repeat(4, 80px);
  column-gap: 16px;
  color: #e2b007;
  text-shadow: 2px 2px rgb(131, 131, 131);
  font-size: 70px;
}

.Home2 .ImageContainer .content .CountDown .info_text {
  font-size: 8px;
}